
body {
    font-family: 'Arial', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    
}

h1 {
    background-color: plum;
    border-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 0px;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: lavenderblush;  
    background-image: none;
   
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

form label {
    display: block;
}

form p {
    margin: 0;
}

/* form p:last-child {
    clear: both;
    width: 100%;
} */

label {
    font-weight: bold;
}

#insuranceForm{
    width: 100%;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

button:hover, button:focus {
    background: darkgreen;
    outline: 0;
}

 .full-width {  
    /* clear: both; */
    /* width: 100%; */
    grid-column: span 3;
    
    }
